.wrapper {
    padding: 0 10px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    background-color: #141414;
    border: 15px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#screen {
    width: 100%;
    height: 350px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    background-color: #141414;
    color: #fff;
    border: 0;
    padding: 10px 5px 10px;
}

#screen:focus {
    outline: 0;
}

#screen::-webkit-scrollbar {
    display: none;
}

#command {
    width: 85%;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    background-color: #141414;
    color: #fff;
    border: 0;
}

#command:focus {
    outline: 0;
}

.shell-title {
    font-size: 13px;
    color: #fff;
}

.console {
    position: relative;
}

.shell {
    position: relative;
    bottom: 5px;
    left: 0;
    width: 88%;
}
